$break-small: 320px;
$break-large: 1200px;

.center {

  @media screen and (max-width: $break-small) {
    margin: 0;
    padding: 0;
  }
  @media screen and (min-width: $break-large) {
    padding: 1em;
    margin: 1em 10em;
  }
}
